body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Nunito', sans-serif
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom styling for range inputs */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  margin-right: 15px;
  width: 100%;
  height: 7px;
  background: rgba(207, 222, 240, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#0A2362, #0A2362);
  background-size: 70% 100%;
  background-repeat: no-repeat;
  accent-color: #0A2362;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #0A2362;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* Firefox styles */
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #0A2362;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  border: none;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

.range-value{
  color: #0A2362;
  font-weight: 600;
  font-size: 18px;
}